@charset "utf8";
#wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: #eee;
    margin-top: 20px;
    padding: 24px;
}
.title {
    text-align: center;
    color: blue;
    padding: 5px;
    border: solid 2px blue;
    border-radius: 30px;
    margin-bottom: 15px;
    background-color: white;
}
#new {
    width: 60%;
    margin: 0 auto;
    border: solid 1px;
    margin-bottom: 16px;
    padding: 17px;
    height: 219px;
    background-color: white;
}
#choose {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.table_border {
    border: solid 1px;
    width: 100%;
    background-color: white;
}
tr {
    height: 50px;
}
th{
    font-size: 1.5em;
    color: red;
    background-color: pink;
}
th, td {
    width: 20%;
    text-align: center;
    border: solid 1px;
}



/*media query*/
/*ref)*/
/*https://www.seojuku.com/blog/responsive-mediaquery.html*/

/*タブレット 横は	パソコンと同じ*/
/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/*タブレット 縦から	*/
@media screen and (max-width: 1024px){
    
}
/*スマホ 横のみ	*/
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/*スマホ 横から	*/ 
@media screen and (max-width: 896px){
    
}
/*スマホ　縦からは */
@media screen and (max-width: 480px){
    
}